@{
   
    Layout = null;
}

<html>
<head>
    <title>Registo de Pessoas</title>
    <link href="~/Content/primeiro-css.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <p>Paragrafo 1</p>
    <p>Paragrafo 2</p>
    <p>Paragrafo 3</p>
    <p>Paragrafo 4</p>

    <script src="~/Scripts/funcoes.js"></script>
</body>

</html>