<!DOCTYPE html>
<html>
<head>
    <title>Registo de Pessoas</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
   @RenderSection("Styles", required: false)
</head>
<body>
    <div class="container">
        <h1 class="display-3"> Sistema de registo de pessoas</h1>
        <hr />
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/vue.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

<!--Sections e Partials View -->